.happy-monkey-regular {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#monkey-profile-img {
    width: 200px;
    border-radius: 100%;
    border: 5px solid #EFB0C9;
}

h1, #age, #birth-date {
    text-shadow: 0 0 1px black;
}

#age, #birth-date {
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#age {
    margin: 16px 0 10px;
}

#birth-date {
    margin-top: 0;
}

.gift-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 0;
}

.gift-hint {
    margin: 10px 0 0;
}

.gift-img {
    background-image: url(../images/gift-cover.png);
    background-color: #E03FD8;
    background-size: cover;
    height: 400px;
    width: 400px;
    margin-top: 16px;
    border: 8px solid white;
    border-radius: 10px;    
}

.gift-img:hover {
    background-image: url(../images/happy.webp);
}
